In [3]:
import pandas as pd
from pathlib import Path

csv_path = ("/Users/thehalpins/FinTech_instructionals/python-homework/PyBank/people.csv")

people_csv = pd.read_csv(csv_path)
people_csv.head()

,first_name,last_name,gender,age,company_name,address,city,county,postal,phone1,phone2,email,web
0,Aleshia,Tomkiewicz,F,54,Alan D Rosenburg Cpa Pc,14 Taylor St,St. Stephens Ward,Kent,CT2 7PP,01835-703597,01944-369967,atomkiewicz@hotmail.com,http://www.alandrosenburgcpapc.co.uk
1,Evan,Zigomalas,M,47,Cap Gemini America,5 Binney St,Abbey Ward,Buckinghamshire,HP11 2AX,01937-864715,01714-737668,evan.zigomalas@gmail.com,http://www.capgeminiamerica.co.uk
2,France,Andrade,M,42,"Elliott, John W Esq",8 Moor Place,East Southbourne and Tuckton W,Bournemouth,BH6 3BE,01347-368222,01935-821636,france.andrade@hotmail.com,http://www.elliottjohnwesq.co.uk
3,Ulysses,Mcwalters,M,45,"Mcmahan, Ben L",505 Exeter Rd,Hawerby cum Beesby,Lincolnshire,DN36 5RP,01912-771311,01302-601380,ulysses@hotmail.com,http://www.mcmahanbenl.co.uk
4,Tyisha,Veness,F,37,Champagne Room,5396 Forth Street,Greets Green and Lyng Ward,West Midlands,B70 9DT,01547-429341,01290-367248,tyisha.veness@hotmail.com,http://www.champagneroom.co.uk

In [4]:
people_csv.iloc(0)

In [5]:
people_csv.head()

,first_name,last_name,gender,age,company_name,address,city,county,postal,phone1,phone2,email,web
0,Aleshia,Tomkiewicz,F,54,Alan D Rosenburg Cpa Pc,14 Taylor St,St. Stephens Ward,Kent,CT2 7PP,01835-703597,01944-369967,atomkiewicz@hotmail.com,http://www.alandrosenburgcpapc.co.uk
1,Evan,Zigomalas,M,47,Cap Gemini America,5 Binney St,Abbey Ward,Buckinghamshire,HP11 2AX,01937-864715,01714-737668,evan.zigomalas@gmail.com,http://www.capgeminiamerica.co.uk
2,France,Andrade,M,42,"Elliott, John W Esq",8 Moor Place,East Southbourne and Tuckton W,Bournemouth,BH6 3BE,01347-368222,01935-821636,france.andrade@hotmail.com,http://www.elliottjohnwesq.co.uk
3,Ulysses,Mcwalters,M,45,"Mcmahan, Ben L",505 Exeter Rd,Hawerby cum Beesby,Lincolnshire,DN36 5RP,01912-771311,01302-601380,ulysses@hotmail.com,http://www.mcmahanbenl.co.uk
4,Tyisha,Veness,F,37,Champagne Room,5396 Forth Street,Greets Green and Lyng Ward,West Midlands,B70 9DT,01547-429341,01290-367248,tyisha.veness@hotmail.com,http://www.champagneroom.co.uk

In [8]:
people_csv.iloc[-10]

first_name                               Rosita
last_name                             Ausdemore
gender                                        F
age                                          35
company_name                  Jurdem, Scott Esq
address                    8 Heathfield St #657
city                                   Hailsham
county                              East Sussex
postal                                 BN27 1AJ
phone1                             01273-236188
phone2                             01997-765432
email                    rausdemore@hotmail.com
web             http://www.jurdemscottesq.co.uk
Name: 490, dtype: object

In [11]:
#returns the values of the column represented by the '11' ie. column number
people_csv.iloc[:,11].head()

0       atomkiewicz@hotmail.com
1      evan.zigomalas@gmail.com
2    france.andrade@hotmail.com
3           ulysses@hotmail.com
4     tyisha.veness@hotmail.com
Name: email, dtype: object

In [14]:
people_csv.iloc[0:4:5]

,first_name,last_name,gender,age,company_name,address,city,county,postal,phone1,phone2,email,web
0,Aleshia,Tomkiewicz,F,54,Alan D Rosenburg Cpa Pc,14 Taylor St,St. Stephens Ward,Kent,CT2 7PP,01835-703597,01944-369967,atomkiewicz@hotmail.com,http://www.alandrosenburgcpapc.co.uk

In [15]:
people_csv.iloc[0, people_csv.columns.get_loc("first_name")] = "Arya"

In [17]:
people_csv.iloc[0]

first_name                                      Arya
last_name                                 Tomkiewicz
gender                                             F
age                                               54
company_name                 Alan D Rosenburg Cpa Pc
address                                 14 Taylor St
city                               St. Stephens Ward
county                                          Kent
postal                                       CT2 7PP
phone1                                  01835-703597
phone2                                  01944-369967
email                        atomkiewicz@hotmail.com
web             http://www.alandrosenburgcpapc.co.uk
Name: 0, dtype: object

In [20]:
people_csv[people_csv["gender"] == "M"].head()

,first_name,last_name,gender,age,company_name,address,city,county,postal,phone1,phone2,email,web
1,Evan,Zigomalas,M,47,Cap Gemini America,5 Binney St,Abbey Ward,Buckinghamshire,HP11 2AX,01937-864715,01714-737668,evan.zigomalas@gmail.com,http://www.capgeminiamerica.co.uk
2,France,Andrade,M,42,"Elliott, John W Esq",8 Moor Place,East Southbourne and Tuckton W,Bournemouth,BH6 3BE,01347-368222,01935-821636,france.andrade@hotmail.com,http://www.elliottjohnwesq.co.uk
3,Ulysses,Mcwalters,M,45,"Mcmahan, Ben L",505 Exeter Rd,Hawerby cum Beesby,Lincolnshire,DN36 5RP,01912-771311,01302-601380,ulysses@hotmail.com,http://www.mcmahanbenl.co.uk
5,Eric,Rampy,M,28,"Thompson, Michael C Esq",9472 Lind St,Desborough,Northamptonshire,NN14 2GH,01969-886290,01545-817375,erampy@rampy.co.uk,http://www.thompsonmichaelcesq.co.uk
14,Rueben,Gastellum,M,29,Industrial Engineering Assocs,4 Forrest St,Weston-Super-Mare,North Somerset,BS23 3HG,01976-755279,01956-535511,rueben_gastellum@gastellum.co.uk,http://www.industrialengineeringassocs.co.uk

In [ ]:
people_csv.iloc[0, pe