In [2]:
import pandas as pd
from pathlib import Path

csvpath = ("/Users/thehalpins/FinTech_instructionals/python-homework/PyBank/stock_data.csv")

csv_data = pd.read_csv(csvpath)

In [3]:
csv_data.shape

(504, 14)

In [4]:
csv_data.head()

,symbol,name,sector,price,price_per_earnings,dividend_yield,earnings_per_share,52_week_low,52_week_high,market_cap,ebitda,price_per_sales,price_per_book,sec_filings
0,MMM,3M Company,Industrials,$222.89,24.31,2.332862,$7.92,259.770,175.49,1.387211e+11,9.048000e+09,4.390271,11.34,http://www.sec.gov/cgi-bin/browse-edgar?action...
1,AOS,A.O. Smith Corp,Industrials,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,ABT,Abbott Laboratories,Health Care,56.27,22.51,1.908982,0.26,64.600,42.28,1.021210e+11,5.744000e+09,3.740480,3.19,http://www.sec.gov/cgi-bin/browse-edgar?action...
3,ABBV,AbbVie Inc.,Health Care,108.48,19.41,2.499560,3.29,125.860,60.05,1.813863e+11,1.031000e+10,6.291571,26.14,http://www.sec.gov/cgi-bin/browse-edgar?action...
4,ATVI,Activision Blizzard,Information Technology,65.83,NaN,0.431903,1.28,74.945,38.93,5.251867e+10,2.704000e+09,10.595120,5.16,http://www.sec.gov/cgi-bin/browse-edgar?action...

In [5]:
csv_data.count()

symbol                504
name                  502
sector                501
price                 500
price_per_earnings    497
dividend_yield        499
earnings_per_share    498
52_week_low           500
52_week_high          500
market_cap            500
ebitda                492
price_per_sales       500
price_per_book        492
sec_filings           500
dtype: int64

In [7]:
csv_data.isnull().count()

symbol                504
name                  504
sector                504
price                 504
price_per_earnings    504
dividend_yield        504
earnings_per_share    504
52_week_low           504
52_week_high          504
market_cap            504
ebitda                504
price_per_sales       504
price_per_book        504
sec_filings           504
dtype: int64

In [8]:
csv_data.isnull().mean()*100

symbol                0.000000
name                  0.396825
sector                0.595238
price                 0.793651
price_per_earnings    1.388889
dividend_yield        0.992063
earnings_per_share    1.190476
52_week_low           0.793651
52_week_high          0.793651
market_cap            0.793651
ebitda                2.380952
price_per_sales       0.793651
price_per_book        2.380952
sec_filings           0.793651
dtype: float64

In [8]:
csv_data.isnull().mean()*100

symbol                0.000000
name                  0.396825
sector                0.595238
price                 0.793651
price_per_earnings    1.388889
dividend_yield        0.992063
earnings_per_share    1.190476
52_week_low           0.793651
52_week_high          0.793651
market_cap            0.793651
ebitda                2.380952
price_per_sales       0.793651
price_per_book        2.380952
sec_filings           0.793651
dtype: float64

In [10]:

csv_data = csv_data.dropna().copy()

In [11]:
csv_data.header()

AttributeError: 'DataFrame' object has no attribute 'header'

In [12]:
csv_data.head()

,symbol,name,sector,price,price_per_earnings,dividend_yield,earnings_per_share,52_week_low,52_week_high,market_cap,ebitda,price_per_sales,price_per_book,sec_filings
0,MMM,3M Company,Industrials,$222.89,24.31,2.332862,$7.92,259.77,175.490,1.387211e+11,9.048000e+09,4.390271,11.34,http://www.sec.gov/cgi-bin/browse-edgar?action...
2,ABT,Abbott Laboratories,Health Care,56.27,22.51,1.908982,0.26,64.60,42.280,1.021210e+11,5.744000e+09,3.740480,3.19,http://www.sec.gov/cgi-bin/browse-edgar?action...
3,ABBV,AbbVie Inc.,Health Care,108.48,19.41,2.499560,3.29,125.86,60.050,1.813863e+11,1.031000e+10,6.291571,26.14,http://www.sec.gov/cgi-bin/browse-edgar?action...
5,AYI,Acuity Brands Inc,Industrials,108.48,18.22,0.351185,7.43,225.36,142.000,6.242378e+09,5.878000e+08,1.795347,3.55,http://www.sec.gov/cgi-bin/browse-edgar?action...
6,ADBE,Adobe Systems Inc,Information Technology,185.16,52.31,0.000000,3.39,204.45,114.451,9.455021e+10,2.538040e+09,13.092818,11.06,http://www.sec.gov/cgi-bin/browse-edgar?action...

In [14]:
#counts the number of rows
csv_data.count()

symbol                478
name                  478
sector                478
price                 478
price_per_earnings    478
dividend_yield        478
earnings_per_share    478
52_week_low           478
52_week_high          478
market_cap            478
ebitda                478
price_per_sales       478
price_per_book        478
sec_filings           478
dtype: int64

In [18]:
csv_data.sum()

symbol                MMMABTABBVAYIADBEAAPAETAMGAPDAKAMALKALBAREALXN...
name                  3M CompanyAbbott LaboratoriesAbbVie Inc.Acuity...
sector                IndustrialsHealth CareHealth CareIndustrialsIn...
price                 $222.8956.27108.48108.48185.16109.63178179.111...
price_per_earnings                                             11750.86
dividend_yield                                               897.114298
earnings_per_share    $7.920.263.297.433.396.195.7512.0713.661.798.2...
52_week_low                                                    58982.26
52_week_high                                               40253.470083
market_cap                                             23726976262950.0
ebitda                                             1725634937833.399902
price_per_sales                                             1885.550373
price_per_book                                                  6674.02
sec_filings           http://www.sec.gov/cgi-bin/browse-edgar?action...
dtype: object

In [19]:
csv_data.isnull()

,symbol,name,sector,price,price_per_earnings,dividend_yield,earnings_per_share,52_week_low,52_week_high,market_cap,ebitda,price_per_sales,price_per_book,sec_filings
0,False,False,False,False,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,False,False,False,False
5,False,False,False,False,False,False,False,False,False,False,False,False,False,False
6,False,False,False,False,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
499,False,False,False,False,False,False,False,False,False,False,False,False,False,False
500,False,False,False,False,False,False,False,False,False,False,False,False,False,False
501,False,False,False,False,False,False,False,False,False,False,False,False,False,False
502,False,False,False,False,False,False,False,False,False,False,False,False,False,False
503,False,False,False,False,False,False,False,False,False,False,False,False,False,False

In [20]:
csv_data.head()

,symbol,name,sector,price,price_per_earnings,dividend_yield,earnings_per_share,52_week_low,52_week_high,market_cap,ebitda,price_per_sales,price_per_book,sec_filings
0,MMM,3M Company,Industrials,$222.89,24.31,2.332862,$7.92,259.77,175.490,1.387211e+11,9.048000e+09,4.390271,11.34,http://www.sec.gov/cgi-bin/browse-edgar?action...
2,ABT,Abbott Laboratories,Health Care,56.27,22.51,1.908982,0.26,64.60,42.280,1.021210e+11,5.744000e+09,3.740480,3.19,http://www.sec.gov/cgi-bin/browse-edgar?action...
3,ABBV,AbbVie Inc.,Health Care,108.48,19.41,2.499560,3.29,125.86,60.050,1.813863e+11,1.031000e+10,6.291571,26.14,http://www.sec.gov/cgi-bin/browse-edgar?action...
5,AYI,Acuity Brands Inc,Industrials,108.48,18.22,0.351185,7.43,225.36,142.000,6.242378e+09,5.878000e+08,1.795347,3.55,http://www.sec.gov/cgi-bin/browse-edgar?action...
6,ADBE,Adobe Systems Inc,Information Technology,185.16,52.31,0.000000,3.39,204.45,114.451,9.455021e+10,2.538040e+09,13.092818,11.06,http://www.sec.gov/cgi-bin/browse-edgar?action...

In [21]:
csv_data["price"] = csv_data["price"].fillna("dont know")

In [22]:
csv_data.head()

,symbol,name,sector,price,price_per_earnings,dividend_yield,earnings_per_share,52_week_low,52_week_high,market_cap,ebitda,price_per_sales,price_per_book,sec_filings
0,MMM,3M Company,Industrials,$222.89,24.31,2.332862,$7.92,259.77,175.490,1.387211e+11,9.048000e+09,4.390271,11.34,http://www.sec.gov/cgi-bin/browse-edgar?action...
2,ABT,Abbott Laboratories,Health Care,56.27,22.51,1.908982,0.26,64.60,42.280,1.021210e+11,5.744000e+09,3.740480,3.19,http://www.sec.gov/cgi-bin/browse-edgar?action...
3,ABBV,AbbVie Inc.,Health Care,108.48,19.41,2.499560,3.29,125.86,60.050,1.813863e+11,1.031000e+10,6.291571,26.14,http://www.sec.gov/cgi-bin/browse-edgar?action...
5,AYI,Acuity Brands Inc,Industrials,108.48,18.22,0.351185,7.43,225.36,142.000,6.242378e+09,5.878000e+08,1.795347,3.55,http://www.sec.gov/cgi-bin/browse-edgar?action...
6,ADBE,Adobe Systems Inc,Information Technology,185.16,52.31,0.000000,3.39,204.45,114.451,9.455021e+10,2.538040e+09,13.092818,11.06,http://www.sec.gov/cgi-bin/browse-edgar?action...

In [23]:
csv_data["price"] = csv_data["price"].copy("$","")

TypeError: copy() takes from 1 to 2 positional arguments but 3 were given

In [25]:
csv_data["company"].duplicated()

KeyError: 'company'

In [38]:
#does the count, max, min etc of the data this is gold
csv_data.describe()

,price_per_earnings,dividend_yield,52_week_low,52_week_high,market_cap,ebitda,price_per_sales,price_per_book
count,478.000000,478.000000,478.000000,478.000000,4.780000e+02,4.780000e+02,478.000000,478.000000
mean,24.583389,1.876808,123.393849,84.212281,4.963803e+10,3.610115e+09,3.944666,13.962385
std,40.723563,1.467409,158.378323,107.954395,9.184662e+10,6.973120e+09,3.506954,90.511266
min,-251.530000,0.000000,6.590000,2.800000,2.626102e+09,-5.067000e+09,0.153186,0.510000
25%,15.352500,0.788205,56.062500,38.435000,1.274082e+10,7.693810e+08,1.630611,2.020000
50%,19.450000,1.792030,86.820000,63.035000,2.141737e+10,1.613700e+09,2.860264,3.395000
75%,25.687500,2.813281,140.282500,96.470000,4.420828e+10,3.628800e+09,4.702948,6.037500
max,520.150000,7.713499,2067.990000,1589.000000,8.095080e+11,7.938600e+10,20.094294,1403.380000

In [39]:
#counts the rows and the columns

csv_data.shape

(478, 14)