In [12]:
import pandas as pd
import numpy as np
import datetime as dt
from pathlib import Path
    
%matplotlib inline

In [23]:
fb_data = Path("fb_data.csv")
fb_data = pd.read_csv(fb_data, index_col="date",infer_datetime_format=True, parse_dates=True)
fb_data.head()
#fb_df = fb_data
#fb_df.head()

             close
date
2019-05-17  185.30
2019-05-16  186.99
2019-05-15  186.27
2019-05-14  180.73
2019-05-13  181.54

In [14]:
twtr_data = Path("twtr_data.csv")
twtr_data = pd.read_csv(twtr_data, index_col="date",infer_datetime_format=True, parse_dates=True)
twtr_df = twtr_data
twtr_df.head()

            close
date
2019-05-17  37.50
2019-05-16  38.30
2019-05-15  37.90
2019-05-14  36.93
2019-05-13  36.59

In [15]:
snap_data = Path("snap_data.csv")
snap_data = pd.read_csv(snap_data, index_col="date",infer_datetime_format=True, parse_dates=True)
snap_df = snap_data
snap_df.head()

            close
date
2019-05-17  11.49
2019-05-16  11.42
2019-05-15  10.66
2019-05-14  10.49
2019-05-13  10.11

In [16]:
sp500_data = Path("sp500_data.csv")
sp500_data = pd.read_csv(sp500_data, index_col="date",infer_datetime_format=True, parse_dates=True)
sp500_df = sp500_data
sp500_df.head()

                  close
date
2014-05-20  1872.829956
2014-05-21  1888.030029
2014-05-22  1892.489990
2014-05-23  1900.530029
2014-05-27  1911.910034

In [21]:
combined_df = pd.concat([fb_df,twtr_df,snap_df,sp500_df])
combined_df.sort_index
combined_df.head()

             close
date
2019-05-17  185.30
2019-05-16  186.99
2019-05-15  186.27
2019-05-14  180.73
2019-05-13  181.54

In [ ]:
combined_df.columns = (