In [44]:
import pandas as pd
import numpy as np
import datetime as dt
from pathlib import Path

%matplotlib inline

In [49]:
bmo_data = Path("bmo.csv")
bmo_data = pd.read_csv(bmo_data, index_col="date")
bmo_df = bmo_data
bmo_df.head()

           BMO
date
5/14/19  66.97
5/13/19  66.49
5/10/19  67.22
5/9/19   66.04
5/8/19   66.02

In [48]:
cnq_data = Path("cnq.csv")
cnq_data = pd.read_csv(cnq_data, index_col="date")
cnq_df = cnq_data
cnq_df.head()

            CNQ
date
5/14/19  191.62
5/13/19  190.34
5/10/19  194.58
5/9/19   194.58
5/8/19   195.17

In [50]:
cve_data = Path("cve.csv")
cve_data = pd.read_csv(cve_data,index_col="date")
cve_df = cve_data

cve_df.head()

           CVE
date
5/14/19  45.17
5/13/19  44.76
5/10/19  46.20
5/9/19   46.62
5/8/19   49.24

In [36]:
enb_data = Path("enb.csv")
enb_data = pd.read_csv(enb_data)
enb_df = enb_data
enb_df.head()

      date    ENB
0  5/14/19  27.32
1  5/13/19  26.24
2  5/10/19  27.96
3   5/9/19  27.21
4   5/8/19  27.09

In [37]:
imo_data = Path("imo.csv")
imo_data = pd.read_csv(imo_data)
imo_df = imo_data
imo_df.head()

      date    IMO
0  5/14/19  38.51
1  5/13/19  37.38
2  5/10/19  38.94
3   5/9/19  39.27
4   5/8/19  39.75

In [38]:
ipl_data = Path("ipl.csv")
ipl_data = pd.read_csv(ipl_data)
ipl_df = ipl_data
ipl_df.head()

      date     IPL
0  5/14/19  162.04
1  5/13/19  158.45
2  5/10/19  168.82
3   5/9/19  170.19
4   5/8/19  173.92

In [41]:
trp_data = Path("trp.csv")
trp_data = pd.read_csv(trp_data)
trp_df = trp_data
trp_df.head()

      date    TRP
0  5/14/19  41.97
1  5/13/19  40.99
2  5/10/19  42.83
3   5/9/19  43.25
4   5/8/19  43.70

In [51]:
combined_df = pd.concat([trp_df],[ipl_df])
combined_df.head()

/var/folders/l0/lhy7vhx10w9gh2mbb7yfzb1r0000gn/T/ipykernel_16258/2727322407.py:1: FutureWarning: In a future version of pandas all arguments of concat except for the argument 'objs' will be keyword-only.
  combined_df = pd.concat([trp_df],[ipl_df])

TypeError: unhashable type: 'list'