In [12]:
#02 column manipulation


import pandas as pd
import numpy as np
import datetime as dt
from pathlib import Path

people_csv = Path("people.csv")
people_csv = pd.read_csv(people_csv,index_col=0)
people_csv.head()

,last_name,gender,age,company_name,address,city,county,postal,phone1,phone2,email,web
first_name,,,,,,,,,,,,
Aleshia,Tomkiewicz,F,54,Alan D Rosenburg Cpa Pc,14 Taylor St,St. Stephens Ward,Kent,CT2 7PP,01835-703597,01944-369967,atomkiewicz@hotmail.com,http://www.alandrosenburgcpapc.co.uk
Evan,Zigomalas,M,47,Cap Gemini America,5 Binney St,Abbey Ward,Buckinghamshire,HP11 2AX,01937-864715,01714-737668,evan.zigomalas@gmail.com,http://www.capgeminiamerica.co.uk
France,Andrade,M,42,"Elliott, John W Esq",8 Moor Place,East Southbourne and Tuckton W,Bournemouth,BH6 3BE,01347-368222,01935-821636,france.andrade@hotmail.com,http://www.elliottjohnwesq.co.uk
Ulysses,Mcwalters,M,45,"Mcmahan, Ben L",505 Exeter Rd,Hawerby cum Beesby,Lincolnshire,DN36 5RP,01912-771311,01302-601380,ulysses@hotmail.com,http://www.mcmahanbenl.co.uk
Tyisha,Veness,F,37,Champagne Room,5396 Forth Street,Greets Green and Lyng Ward,West Midlands,B70 9DT,01547-429341,01290-367248,tyisha.veness@hotmail.com,http://www.champagneroom.co.uk

In [23]:
# Use the `columns` attribute to output the column names

data_top = people_csv.head()
data_top

for col in data_top.columns:
    print(col)

last_name
gender
age
company_name
address
city
county
postal
phone1
phone2
email
web

In [24]:

list(people_csv.columns)

['last_name',
 'gender',
 'age',
 'company_name',
 'address',
 'city',
 'county',
 'postal',
 'phone1',
 'phone2',
 'email',
 'web']

In [26]:
#View Column Data Types
list (people_csv.dtypes)

[dtype('O'),
 dtype('O'),
 dtype('int64'),
 dtype('O'),
 dtype('O'),
 dtype('O'),
 dtype('O'),
 dtype('O'),
 dtype('O'),
 dtype('O'),
 dtype('O'),
 dtype('O')]

In [29]:
# 6. Rename Columns Using List

# Set the `columns` attribute to a new list of column names
people_csv.columns = ['person_id', 'first_name', 'last_name', 'email', 'gender', 'uni','occupation','county',
 'postal',
 'phone1',
 'phone2',
 'web']
people_csv.head()

,person_id,first_name,last_name,email,gender,uni,occupation,county,postal,phone1,phone2,web
first_name,,,,,,,,,,,,
Aleshia,Tomkiewicz,F,54,Alan D Rosenburg Cpa Pc,14 Taylor St,St. Stephens Ward,Kent,CT2 7PP,01835-703597,01944-369967,atomkiewicz@hotmail.com,http://www.alandrosenburgcpapc.co.uk
Evan,Zigomalas,M,47,Cap Gemini America,5 Binney St,Abbey Ward,Buckinghamshire,HP11 2AX,01937-864715,01714-737668,evan.zigomalas@gmail.com,http://www.capgeminiamerica.co.uk
France,Andrade,M,42,"Elliott, John W Esq",8 Moor Place,East Southbourne and Tuckton W,Bournemouth,BH6 3BE,01347-368222,01935-821636,france.andrade@hotmail.com,http://www.elliottjohnwesq.co.uk
Ulysses,Mcwalters,M,45,"Mcmahan, Ben L",505 Exeter Rd,Hawerby cum Beesby,Lincolnshire,DN36 5RP,01912-771311,01302-601380,ulysses@hotmail.com,http://www.mcmahanbenl.co.uk
Tyisha,Veness,F,37,Champagne Room,5396 Forth Street,Greets Green and Lyng Ward,West Midlands,B70 9DT,01547-429341,01290-367248,tyisha.veness@hotmail.com,http://www.champagneroom.co.uk

In [30]:
# save modified data frame to new csv

people_csv.to_csv("resources.csv")