In [2]:
# Initial imports
import pandas as pd
import numpy as np
import datetime as dt
from pathlib import Path

file_path = Path("bb_stock_data.csv")
bb_df = pd.read_csv(file_path)
bb_df.head()

     Date  Close
0  1/2/19   9.64
1  1/3/19   9.29
2  1/4/19   9.67
3  1/7/19   9.88
4  1/8/19   9.82

In [3]:
#set date as index
bb_df = bb_df.set_index("Date")
bb_df.head()

        Close
Date
1/2/19   9.64
1/3/19   9.29
1/4/19   9.67
1/7/19   9.88
1/8/19   9.82

In [5]:
#check for nulls
bb_df.isnull().mean() * 100
bb_df = bb_df.dropna()

In [6]:
bb_df.isnull().sum()

Close    0
dtype: int64

In [12]:
#calculate daily returns
bb_daily_returns = bb_df.pct_change()
bb_daily_returns.head()

           Close
Date
1/2/19       NaN
1/3/19 -0.036307
1/4/19  0.040904
1/7/19  0.021717
1/8/19 -0.006073

In [13]:
#sort the df by close
bb_top_changers = bb_daily_returns.sort_values("Close",ascending=True)
bb_top_changers.head()

            Close
Date
9/24/19 -0.226586
6/26/19 -0.090909
4/1/19  -0.053452
8/6/19  -0.047720
5/13/19 -0.046571