In [4]:
import pandas as pd
%matplotlib inline 

# Read in the CSV as a DataFrame
tsl_csv = pd.read_csv('/Users/thehalpins/FinTech_instructionals/python-homework/PyBank/crypto_data.csv')

tsl_csv.head()

  cryptocurrency  data_priceUsd   data_date     data_time     timestamp
0        bitcoin            NaN  2017-05-09  1.494288e+12  1.557285e+12
1        bitcoin    1743.723523  2017-05-10  1.494374e+12           NaN
2        bitcoin    1828.678209  2017-05-11  1.494461e+12           NaN
3        bitcoin    1776.443919  2017-05-12  1.494547e+12           NaN
4        bitcoin    1714.964198  2017-05-13  1.494634e+12           NaN