In [4]:
# Initial imports
import pandas as pd
import numpy as np
import datetime as dt
from pathlib import Path

file_path = Path("amd_stock_data.csv")
amd_csv = pd.read_csv(file_path)
amd_csv.head()

   4/29/09  3.51  11537950   3.4  3.56  3.38
0  4/30/09  3.61  18193730  3.55  3.73  3.53
1   5/1/09  3.82  16233940  3.55  3.90  3.55
2   5/4/09  4.26  21236940  3.90  4.30  3.83
3   5/5/09  4.32  16369170  4.36  4.39  4.11
4   5/6/09  4.31  15075630  4.45  4.45  4.12